# Arquivos de ambiente
.env
backup/

# Arquivos de Certificados
nginx/certs/*
!nginx/certs/.gitkeep

# Arquivos de Imagens Docker salvas
*.tar

# Arquivos de Logs
nginx/logs/*
!nginx/logs/.gitkeep

# Diretório do ambiente virtual Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos específicos do sistema operacional
.DS_Store
Thumbs.db
